// utils
@import "./partials/utils";

// service
@import "./partials/service";

//  Mixin
@import "./partials/mixin";

// extend Operator
#cta3 {
  @extend #cta;
  // background: lighten($primaryColor, 20%);
  // width: 90%;
}

//Function
@function setTextColor($color) {
  @if (lightness($color) >75) {
    @return #333;
  } @else {
    @return #fff;
  }
}

@mixin setBg($color) {
  background: $color;
  color: setTextColor($lightColor);
}

#cta4 {
  @extend #cta2;
  @include setBg($lightColor);
  h2 {
    color: setTextColor($lightColor);
  }
}
